.div1{
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    text-align: center;
    height: 200px;
    margin: 0px;
}
.img{
    position: absolute;
    left: 43%;
    top:40px;
    
}
.div2{
    
    width: 180px;
    color: lightpink;
    background-color: darkred;
    border: 1px solid wheat;
}
.div3{
    
    width: 180px;
    color: white;
    background-color: black;
    border: 1px solid wheat;
}
.div4{
    width: 180px;
    color: rgb(181, 198, 219);
    background-color: rgb(29, 20, 85);
    border: 1px solid wheat;
}